---
title: Not Found (404)
layout: 'base.njk'
permalink: 404.html
---

<div class="w3-dark-gray w3-padding-32">
    <div class="w3-content w3-padding">
        <h2 class="w3-xxlarge">{{ title }}</h2>
        <p class="w3-large">The resource you tried to access cannot be found.</p>
    </div>
</div>

<div class="w3-light-gray w3-padding-64">
    <div class="w3-content w3-padding">
        <ul>
            <li>Check the URL in the address bar of your web browsing software for any typing errors.</li>
            <li>Have a look around the website to see if you can find the resource. The [home](/) page is a good place to start.</li>
            <li>(Optionally) If you clicked a hyperlink or button on another resource, that could now be considered outdated. Please let them know about this so it can be updated or removed accordingly.</li>
        </ul>
    </div>
</div>
